.pageWrapper {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

.formWrapper {
    padding: 3rem;
    width: 50vw;
}

.formTitle {
    font-size: 2rem;
    margin-bottom: 10px;
}
